@font-face {
    font-family: 'circular';
    src: url(fonts/CircularStd-Medium.woff2) format('woff2');
}

:root {
    --main-dark: #070707;
    --main-light: #393E46;
    --secondary: #00ADB5;
    --font: #ccc;
}

* {
    box-sizing: border-box;
    font-family: 'circular';
    color: var(--font);
}

body {
    margin: 0;
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: minmax(190px, 1fr) minmax(490px, 82%); 
    grid-template-rows: min-content 4fr;
    height: 100vh;
}

.container > div {
    border: 3px solid #232323;
}

.sidebar {
    grid-row: 1/3;
    display: grid;
    align-content: start;
    background-color: var(--main-dark);
    margin: 9px;
    border-radius: 8px;
}

.sidebar > div {
    position: sticky;
    top: 0;
}

.sidebar > div > div {
    height: 44px;
    display: flex;
    padding-left: min(40px, 2vw);
    font-size: clamp(1rem, 1.6vw, 1.2rem);
}


a {
    display: flex;
    height: inherit;
    text-decoration: none;
    align-items: center;
    transition: all 0.3s;
}

a:hover {
    color: var(--secondary);
}

.sidebar > div > div:nth-child(1) {
    width: 100%;
    height: 70px;
    font-size: clamp(1.8rem, 3vw, 2.6rem);
}

.sidebar > div > div:nth-child(1) a {
    color: var(--secondary);
}

.sidebar > div > div:nth-child(6) {
    margin-bottom: 25px;
}


.icon {
    box-sizing: content-box;
    width: auto;
    padding: 0 10px 4px 0;
    fill: var(--font);
    background-color: var(--main-dark);
}


.header {
    grid-column: 2/3;
    background-color: var(--main-dark);
    margin: 9px 9px 0 0;
    border-radius: 8px;
    
    display: grid;
    grid-template-rows: .6fr min-content;
    grid-template-columns: minmax(500px, 1fr);
}

.search {
    margin: 10px 25px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.search > div:nth-child(2) {
    display: flex;
    grid-template-columns: .8fr min-content 4fr;
    align-items: center;
    gap: 20px;
    font-size: 18px;
}

.bell:hover {
    fill: var(--secondary);
    transition: all 0.3s;
}

#searchBar {
    -webkit-appearance: none;
    appearance: none;
    box-shadow: none;
    outline: none;
    color: var(--font);
    border: none;
    width: clamp(140px, 22vw, 600px);
    border-radius: 16px;
    padding: 1px 8px;
    font-size: 16px;
    background-color: rgba(204, 204, 204, 0.2);
}

#searchBar:focus {
    outline: solid 2px var(--secondary);
    outline-offset: 3px;
}

.searchIcon, .bell {
    box-sizing: content-box;
    width: auto;
    fill: var(--font);
    background-color: none;
    cursor:  pointer;
}

.searchIcon {
    margin: 0 10px 0 0;
    position: relative;
    top: 6px;
}

.avatar {
    width: 40px;
    height: 40px;
}

.avatar, .avatarB {
    object-fit: cover;
    border-radius: 50%;
}

.avatarB {
    width: clamp(50px, 6vw, 70px);
    height: clamp(50px, 6vw, 70px);;
}

.search div {
    font-size: 1rem;
}

.accountAction {
    margin: 10px 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: row wrap; 
}

.accountAction > div {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.accountAction img {
    margin-right: 20px;
}

.accountAction div div:first-of-type div:first-child {
    font-size: .8rem;
}

.accountAction div div:first-of-type div:nth-child(2) {
    font-size: clamp(.8rem, 2vw, 1.4rem);
}

.accountAction button {
    margin: 0 0 0 15px;
    background-color: var(--secondary);
    border-radius: 20px;
    font-size: clamp(.85rem, 1.2vw, 1.1rem);
    width: clamp(58px, 8vw, 100px);
    height: clamp(30px, 3vw, 40px);
    cursor: pointer;
    padding: 0;
}

.accountAction button:hover {
    background-color: var(--font);
    color: var(--secondary);
    transition: all 0.3s;
}

.main {
    background-color: var(--main-dark);
    margin: 9px 9px 9px 0;
    border-radius: 8px;
    
    display: grid;
    grid-template-rows: 800px 1fr;
    grid-template-columns: 2fr 1fr;
}

.threads {
    margin: 8px 10px 8px 25px !important;
    grid-row: 1/3;
}


.threads > div:nth-child(1), .mainRight > div > div:nth-child(1) {
    font-size: clamp(.9rem, 2vw, 1.3rem);
    margin:  0 0 8px 0;
}

.thContent > div {
    border-radius: 10px;
    background-color: #101010;
    transition: all 0.2s ease-in-out;
}

.thContent > div:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow:  0 0 5px var(--secondary);
    transition: all 0.2s ease-in-out;
    
}

.thContent {
    display: grid;
    grid-auto-rows: 140px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 12px;
}

.thread {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.thIcons{
    margin: 10px;
    grid-row: 3/4;
    justify-self: end;
    
    display: flex;
    gap: 12px;
}

.thIcons svg {
    width: 14px;
    height: 14px;
    fill: var(--font);
    transition: all 0.2s ease-in-out;
}

.thIcons svg:hover {
    fill: var(--secondary);
}

.thread h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.2rem;
    margin: 5px 10px;  
}

.thread > div:nth-child(2){
    font-size: 0.9rem;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;  
}

.mainRight {
    display: grid;
    height: 100%;
    grid-auto-rows: min-content;
    position: sticky;
    top: 0;
}

.discover {
    margin: 8px;
}

.friends {
    margin: 0 8px 8px 8px;
}

.discover, .friends {
    display: grid;
    grid-template-rows: min-content 1fr;
}

.discContent, .frContent {
    background-color: #101010;
    margin: 0px 9px 10px 0;
    border-radius: 10px;
    display: grid;
}

.discContent {
    grid-auto-rows: 100px min-content;
    padding-bottom: 10px;

}

.frContent {
    grid-template-rows: auto;
}

.line {
    margin: 3px 15px 0 15px;
    width: calc(100% - 30px);
    height: 1.5px;
    border-radius: 16px;
    background-color: #303030;
}

.rightTh {
    margin: 10px 15px 9px 15px;
    overflow: hidden;
    cursor: pointer;
}

.discover .rightTh div {
    font-size: 0.8rem;
}

.frContent {
    text-align: start;
} 

.frContent .rightTh {
    display: flex;
    align-items: center;
    gap: 10px;
}

.users div:last-child {
    font-size: .75rem;
}

.rightTh img {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

h4 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0 5px 0;
}

